---
import "../styles/global.css";
import Logo from '../assets/logo.svg?url'


---


<section class="404 flex items-center justify-center h-dvh">
    <div class="container flex flex-col items-center justify-center">
        <img src={Logo} alt="Logo" class="logo w-[240px] m-auto md:m-0" />
        <h1 class="font-display text-center md:text-[120px] text-[90px] font-bold text-[#141414] tracking-[-1px] m-auto mt-6 leading-none">404</h1>
        <p class="md:text-[25px] text-[18px] text-[#4F4F4F] text-center mt-6 font-display">La pagina che stai cercando non esiste.</p>
        <div class="mt-8 text-center">
            <a href="https://www.infissieinfissi.it/" class="btn-big btn-primary hover:cursor-pointer shadow font-display">Torna alla home</a>
        </div>
    </div>
</section>