---
import Check from '../assets/check.svg?url';

---

<div class="bullets flex justify-center mt-10 gap-3.5 flex-col md:flex-row lg:w-[992px] ml-auto mr-auto">
    <div class="bullet bg-white rounded-xl shadow-lg flex flex-col items-center p-6 md:max-w-100 w-full">
        <img src={Check} class="w-8 mb-2" alt="punto di forza"/>
        <h2 class="font-display text-2xl text-[#4F4F4F] font-semibold mb-1 text-center">Senza costi di intermediari</h2>
    </div>
    <div class="bullet bg-white rounded-xl shadow-lg flex flex-col items-center p-6 md:max-w-100 w-full">
        <img src={Check} class="w-8 mb-2" alt="punto di forza"/>
        <h2 class="font-display text-2xl text-[#4F4F4F] font-semibold mb-1 text-center">50% di detrazione fiscale</h2>
    </div>
    <div class="bullet bg-white rounded-xl shadow-lg flex flex-col items-center p-6 md:max-w-100 w-full">
        <img src={Check} class="w-8 mb-2" alt="punto di forza"/>
        <h2 class="font-display text-2xl text-[#4F4F4F] font-semibold mb-1 text-center">Garanzia 10 anni con posa certificata</h2>
    </div>
   
</div>