---
import Check from '../assets/check.svg?url';

---

<div class="bullets flex justify-center mt-10 gap-3.5 flex-col md:flex-row">
    <div class="bullet bg-white rounded-xl shadow-lg flex flex-col items-center p-6 w-100">
        <img src={Check} class="w-8 mb-2"/>
        <h3 class="font-display text-2xl text-[#4F4F4F] font-semibold mb-1">Punto di forza</h3>
        <p class="font-display text-[#4F4F4F] text-center">Easily create mobile-first, interactive, and personalized lead gen and sales funnels with</p>
    </div>
    <div class="bullet bg-white rounded-xl shadow-lg flex flex-col items-center p-6 w-100">
        <img src={Check} class="w-8 mb-2"/>
        <h3 class="font-display text-2xl text-[#4F4F4F] font-semibold mb-1">Punto di forza</h3>
        <p class="font-display text-[#4F4F4F] text-center">Easily create mobile-first, interactive, and personalized lead gen and sales funnels with</p>
    </div>
    <div class="bullet bg-white rounded-xl shadow-lg flex flex-col items-center p-6 w-100">
        <img src={Check} class="w-8 mb-2"/>
        <h3 class="font-display text-2xl text-[#4F4F4F] font-semibold mb-1">Punto di forza</h3>
        <p class="font-display text-[#4F4F4F] text-center">Easily create mobile-first, interactive, and personalized lead gen and sales funnels with</p>
    </div>
   
</div>