---
import Gruppo from '../assets/chi-siamo.webp?url'
---

<section class="flex items-center justify-center mt-16 px-5">
    <div class="container w-7xl">
        <h2 class="text-6xl font-bold text-[#141414] text-center">infissi & infissi <br><span class="text-[#D7212E]">L'azienda</span></h2>
        <div class="flex gap-2.5 mt-10 items-center flex-col-reverse md:flex-row">
            <p class="md:w-6/12 w-full text-[18px] bg-white p-8 font-display rounded-2xl text-[#4F4F4F]">Nata da un’idea di sei amici e colleghi di <strong>Torino</strong>, che da <strong>oltre 20 anni</strong> lavorano nel <strong>settore dei serramenti,</strong> con la stessa determinazione da cui sono partiti. Oggi <strong>Infissi & Infissi</strong> è presente in tante città italiane con un organico di <strong>oltre 100 persone.</strong>
            Una storia di persone semplici, legate dalla passione che batte ancora forte dentro di loro. Partiti a fine anni ’90, il team vanta con orgoglio <strong>oltre 10.000 installazioni nelle case degli italiani</strong> e una fabbrica di 2000 mq da cui nascono gli inimitabili prodotti made in Italy firmati Infissi & Infissi.
            “Non abbiamo mai perso <strong>l’attenzione sui nostri clienti</strong> nella realizzazione di soluzioni personalizzate attraverso creatività e buon gusto, per una perfetta <strong>armonia tra gusto estetico, sicurezza e necessità strutturali.</strong> Selezioniamo costantemente le <strong>forniture migliori</strong> controllando quotidianamente le novità che offre il mercato”.
            </p>
            <div class="md:w-6/12 w-full">
                <img src={Gruppo} alt="Gruppo" class="w-full h-auto rounded-2xl" />
            </div>
        </div>
    </div>
</section>