---
import Button from '../components/ui/Buttons.astro';
import Logo from '../assets/logo.svg?url'

const { citta } = Astro.params;
import LandingData from '../data/LandingData.js';

const dati = LandingData[citta];

---

<header class="p-5 flex justify-between items-center w-full">
    <img src={Logo} alt="Logo" class="logo w-[240px] m-auto md:m-0" />
    <button data-form-trigger class="btn btn-primary hidden md:block hover:cursor-pointer">Calcola preventivo gratuito</button>
</header>