---
import LandingData from '../data/LandingData';
import google from '../assets/google.svg?url';
import imgOpen from '../assets/infissieinfissi-apertura.webp?url';
import imgOpen2 from '../assets/infissieinfissi-apertura2.webp?url';
import imgOpen3 from '../assets/infissieinfissi-apertura3.webp?url';


import Bullets from '../components/Bullets.astro';

const { citta } = Astro.params;
const dati = LandingData[citta];

---

<section class="flex items-center justify-center px-5 bg-no-repeat bg-cover bg-center" style={`background-image: linear-gradient(to top, rgb(248 248 248), rgb(248 248 248 / 75%), rgb(248 248 248)),  url(${imgOpen3})`}>
    <div class="container">
        <h1 class="font-display text-center md:text-7xl text-5xl font-bold text-[#141414] tracking-[-1px] md:pt-16 pt-8 m-auto">Vuoi sostituire i tuoi<br class="hidden lg:block"> infissi a <span class="text-[#D7212E]">{dati.nomeCitta}?</span></h1>
        <p class="md:text-[20px] text-[18px] text-[#4F4F4F] text-center mt-6">Dalla nostra fabbrica a casa tua. Senza costo di intermediari e con tutta la <strong>qualità Made in Italy</strong></p>
        <div class="mt-8 text-center">
            <button data-form-trigger class="btn-big btn-primary hover:cursor-pointer">Calcola preventivo gratuito</button>
            <!--  <button class="btn btn-secondary ml-1.5">Guarda i prodotti</button>-->
        </div>
        <div class="flex items-center justify-center mt-6">
            <img src={google} alt="Google" class="w-32" /><span class="text-[16px text-gray-500 font-display ml-2 font-semibold">4,9</span><span class="text-[16px text-gray-500 font-display ml-4 font-semibold">1.217 Recensioni</span>
        </div>
        <Bullets></Bullets>
    </div>
</section>