---
import google from '../assets/google.svg?url';
import Bullets from '../components/Bullets.astro';
---

<section class="flex items-center justify-center px-5">
    <div class="container">
        <h1 class="font-display text-center md:text-7xl text-6xl font-bold text-[#141414] tracking-[-1px] pt-16 m-auto">Vuoi sostituire i tuoi<br class="hidden lg:block"> infissi a <span class="text-[#D7212E]">Torino</span>?</h1>
        <p class="text-[20px] text-[#4F4F4F] text-center mt-6">Easily create mobile-first, interactive, and personalized lead gen and sales funnels with<br> market-leading conversion rates in just 30 minutes. No design or coding skills required.</p>
        <div class="mt-8 text-center">
            <button class="btn-big btn-primary">Calcola preventivo gratuito</button>
            <!--  <button class="btn btn-secondary ml-1.5">Guarda i prodotti</button>-->
        </div>
        <div class="flex items-center justify-center mt-6">
            <img src={google} alt="Google" class="w-32" /><span class="text-[16px text-gray-500 font-display ml-2">4,9</span><span class="text-[16px text-gray-500 font-display ml-4">1.200 Recensioni</span>
        </div>
        <Bullets></Bullets>
    </div>
</section>