---
import StepIcon from '../assets/arrow-down.svg?url'
import Button from '../components/ui/Buttons.astro'

---

<section class="flex items-center justify-center my-16 pb-16 px-5">
    <div class="container">
        <h2 class="md:text-6xl text-5xl font-bold text-[#141414] text-center font-display">Step per richiedere un<br><span class="text-[#85BF31]">preventivo gratuito</span></h2>
        <div class="timeline mt-10 flex items-center justify-center flex-col">
            <div class="step font-display text-2xl text-[#141414] max-w-2xl w-full bg-white shadow-2xl rounded-xl text-center p-7 font-bold">Clicca il tasto "calcola preventivo online"</div>
            <img src={StepIcon} class="w-9 py-7"/>
            <div class="step font-display text-2xl text-[#141414] max-w-2xl w-full bg-white shadow-2xl rounded-xl text-center p-7 font-bold">Rispondi alle domande per spiegarci<br>
                come possiamo aiutarti
                "</div>
            <img src={StepIcon} class="w-9 py-7"/>
            <div class="step font-display text-2xl text-[#141414] max-w-2xl w-full bg-white shadow-2xl rounded-xl text-center p-7 font-bold">Invia la richiesta</div>
            <img src={StepIcon} class="w-9 py-7"/>
            <div class="step font-display text-2xl text-[#141414] max-w-2xl w-full bg-white shadow-2xl rounded-xl text-center p-7 font-bold">Ricevi il tuo preventivo gratuito e senza impegno</div>
            <button data-form-trigger class="btn-big btn-primary mt-10">Calcola preventivo gratuito</button>
        </div>
    </div>
</section>