---

---

<section class="barra-preventivo fixed bottom-0 left-0 w-full shadow-2xl bg-white p-6 flex justify-center z-20">
    <button data-form-trigger class="btn btn-primary hover:cursor-pointer">Calcola preventivo gratuito</button>
</section>